@page
@model FCAssist.Pages.Investigations.Tasks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvestigationTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationTask.CaseNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationTask.CaseNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationTask.CaseName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationTask.CaseName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationTask.TaskNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationTask.TaskNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationTask.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationTask.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationTask.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationTask.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvestigationTask.CreationDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvestigationTask.CreationDateTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="InvestigationTask.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
