@page
@model FCAssist.Pages.Investigations.Tasks.IndexModel

@{
    ViewData["Title"] = "Task Index";
}

<h1>Tasks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationTask[0].CaseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationTask[0].TaskNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationTask[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationTask[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationTask[0].CreationDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvestigationTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
