@page
@model FCAssist.Pages.Investigations.Files.IndexModel

@{
    ViewData["Title"] = "File Index";
}

<h1>Files</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationFile[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationFile[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationFile[0].UploadedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationFile[0].Format)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationFile[0].Context)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestigationFile[0].UploadDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvestigationFile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDateTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
